body {
  background-color:rgb(179, 255, 255);
  margin-right: 20%;
  margin-left: 20%;
  border-width: 2px;
  border-style: solid;
  border-color: aqua;
  padding-left: 10px;
  padding-right: 10px;



  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: yellow;


  img {
    border-radius: 50%;
    width: 50%;
    height: 25%;
}